.heading-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0 80px 0;
}
.breadcrumb {
  margin-top: 10px;
  background-color: transparent;
}

.heading__breadcrumb .breadcrumb {
  justify-content: center;
}
a {
  text-decoration: none;
}
