a.navbar__link:hover {
  text-decoration: none !important;
}
a.navbar__link {
  margin-right: 10px;
  text-decoration: none;
}
.navbar__logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: 20px;
}
.navbar__search {
  width: 100%;
}
.navbar__custom {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.navbar__right {
  justify-content: flex-end;
}
