a.navbar__link:hover {
  text-decoration: none !important;
}
.navbar__logo {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-right: 20px;
}
.navbar__search {
  width: 100%;
  margin-left: 50px !important;
}
.navbar__custom {
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 180px;
}
.navbar__userIcon {
  margin-right: 80px;
}
.navbar__right {
  justify-content: flex-end;
}
