.course{
  width: 100%;
  height: max-content;
  cursor: pointer;
}
.pd{
  margin: 10px !important;
}
.pd:hover{
  transform: scale(1.01);
}
.pdlr{
  padding: 0 20px;
}
.carousel__img{
  width: 70%;
  height: 320px;
  object-fit: cover;
}
.carousel__text{
  color: black;
  position: unset;
}
#carousel__course a.carousel-control-prev{
  background: radial-gradient(black, transparent);
  height: 320px;
}
#carousel__course a.carousel-control-next{
  background: radial-gradient(black, transparent);
  height: 320px;
}
.carousel__courseLink{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card__item__img{
  width: 25%;
}