a:hover {
  text-decoration: none !important;
}
*:focus {
  outline: none;
}
div.editorClassName.rdw-editor-main {
  border: 1px solid black;
  padding: 10px 15px;
  height: 150px;
  overflow-y: hidden;
}
.fullDes.rdw-editor-main {
  border: 1px solid black;
  padding: 0px 15px;
  margin-bottom: 30px;
  height: 150px;
  overflow-y: hidden;
}
button#dropdown-basic-button {
  width: 100%;
}
button#dropdown-basic {
  width: 100%;
}
.imgCourse {
  width: 530px;
  height: 230px;
  object-fit: cover;
}
.loading {
  width: 70px;
}
.userloading {
  height: 80vh;
  display: flex;
  justify-content: center;
}

body {
  font-family: "Jost", sans-serif;
}
.h2css{
  font-weight: 700;
  font-size:1.5rem;
}
.CourseCard:hover{
  opacity: 0.7;
}
.popovercss{
  position: absolute;
  /* top: -110px !important; */
  height:367px;
}