a:hover{
  text-decoration: none !important;
}
*:focus {
  outline: none;
}
div.editorClassName.rdw-editor-main{
  border:1px solid black;
  margin-bottom: 30px;
}
button#dropdown-basic-button{
  width:100%;
}
button#dropdown-basic{
  width: 100%;
}
.imgCourse{
  width: 530px;
  height:230px;
  object-fit: cover;
}